.MainPageScreen {
    display: grid;
    padding: 4rem 2rem;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 1fr;
    gap: 1rem 2rem;
    grid-template-areas:
    "FriendList Phone";
}
.FriendList {
    grid-area: FriendList;
    height: 100%;
}
.Phone {
    grid-area: Phone;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


