{% extends "base.html" %}

{% block content %}
    <div class = "content">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="atributes">
                <legend class="upText">Zarejestruj się</legend>
                <div class="username_box">
                    {{ form.username.label(class="atribut_label") }}
                    {{ form.username(class="atribut_field") }}
                    {% if form.username.errors %}
                        {% for error in form.username.errors%}
                        <div class="atribut_error">
                            {{ error }}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="email_box">
                    {{ form.email.label(class="atribut_label") }}
                    {{ form.email(class="atribut_field") }}
                    {% if form.email.errors %}
                        {% for error in form.email.errors%}
                        <div class="atribut_error">
                            {{ error }}
                        </div>
                        {% endfor %}
                    {% endif %}                </div>

                <div class="password_box">
                    {{ form.password.label(class="atribut_label") }}
                    {{ form.password(class="atribut_field") }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors%}
                        <div class="atribut_error">
                            {{ error }}
                        </div>
                        {% endfor %}
                    {% endif %}                </div>

                <div class="cpassword_box">
                    {{ form.confirm_password.label(class="atribut_label") }}
                    {{ form.confirm_password(class="atribut_field") }}
                    {% if form.confirm_password.errors %}
                        {% for error in form.confirm_password.errors%}
                        <div class="atribut_error">
                            {{ error }}
                        </div>
                        {% endfor %}
                    {% endif %}                </div>

            </fieldset>
            <div class="button">
                {{ form.submit(class="button") }}
            </div>
            <div class="toLogin_box">
                <a class="link" href = {{ url_for('login.login') }}>Zaloguj się jeżeli masz konto.</a>
            </div>

        </form>
    </div>
{% endblock content %}