:root{
    --ring-color:var(--fail-color);
    --ring-speed:4s;
}

.PhoneStatus{
    display: flex;
    width: 30vw;
    height: 30vw;
    background-color: var(--section-bg-color);
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 100%;
}

.PhoneStatus .statusBand{
    display: flex;
    width: 90%;
    height: 90%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--success-color);
}




.PhoneStatus h1{
    all:unset;
    color: var(--text-color);
    font-size: 2rem;
}
.PhoneStatus h2{
    all:unset;
    color: var(--text-color);
    font-size: 1.2rem;
}
.PhoneStatus .contentContainer{
    display: flex;
    width: 98%;
    height: 98%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--body-color);
    color: var(--text-color);
    animation: glow var(--ring-speed) ease-in infinite;
}

/* Animate the color ring glow */
@keyframes glow {
    from {box-shadow: inset 0 0 13px 1px var(--ring-color)}
    50% {box-shadow: inset 0 0 13px 6px var(--ring-color)}
    to {box-shadow: inset 0 0 13px 1px var(--ring-color) }
}